<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi <span style="font-weight: bold;">{{name}}</span>,</p>
        <h4>Welcome to Event Manage and Guest Handle Portal</h4>
    </body>
</html>